#####################################
# Berkshelf
#####################################
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

#####################################
# WebStorm
#####################################
.idea
atlassian-ide-plugin.xml
*.iml
*.sublime*

#####################################
# Vagrant ignore
#####################################
.vagrant

#####################################
# Chef ignore
#####################################
.chef
metadata.json
